body {
  padding-top: 30px;
  padding-bottom: 20px;
}
.input {
  border-bottom: 1px grey solid;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
.mapDiv {
  padding-left: 15px;
  border-left: 1px grey solid;
}
#googleMap {
  height: 550px;
}