body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.brand {
  width: 100px;
}
.center {
  vertical-align: middle;
}

.input {
  border-bottom: 1px grey solid;
}
#googleMap {
  height: 550px;
}
#list {
  min-height: 500px;
  border-right: 1px grey solid;
}